* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {


  --bg-body: rgb(56, 15, 56);
}

body {
  background-color: var(--bg-body);
 
}

.card img {
  height: 450px; 
  object-fit: contain; 

}


